In [13]:
import numpy as np

# DataTypes and Attributes

In [14]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [15]:
type(a1)

numpy.ndarray

In [16]:
a2 = np.array([[1.2,5.3,2],[5.6,7,6.9]])
a3 = np.array([[[ 1, 2, 3],
                [ 4, 5, 6],
                [ 7, 8, 9]],
               
               [[ 10, 11, 12],
                [ 13, 14, 15],
                [ 16, 17, 18]]])

In [17]:
a2

array([[1.2, 5.3, 2. ],
       [5.6, 7. , 6.9]])

In [8]:
a3

array([list([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
       list([[10, 11, 12], [13, 14, 15]])], dtype=object)

In [18]:
a1.shape

(3,)

In [19]:
a2.shape

(2, 3)

In [20]:
a3.shape

(2, 3, 3)

In [21]:
a1.ndim

1

In [22]:
a2.ndim

2

In [23]:
a3.ndim

3

In [24]:
a1.dtype , a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [26]:
a1.size ,a2.size,a3.size

(3, 6, 18)

In [27]:
type(a1) , type(a2) , type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [30]:
 # Create a DataFrame from NumPy array
import pandas as pd

df=pd.DataFrame(a2)
df

     0    1    2
0  1.2  5.3  2.0
1  5.6  7.0  6.9