In [6]:
import pandas as pd

In [7]:
Character_Name = pd.Series(["Michael Scofield", "Lincoln Burrows","Theodore Bagwell","Brad Bellick","Sara Tancredi"])
Character_Name

0    Michael Scofield
1     Lincoln Burrows
2    Theodore Bagwell
3        Brad Bellick
4       Sara Tancredi
dtype: object

In [8]:
Character_Real_Life_Name = pd.Series(["Wentworth Miller", "Dominic Purcell","Robert Knepper","Wade Williams","Sarah Wayne Callies"])
Character_Real_Life_Name

0       Wentworth Miller
1        Dominic Purcell
2         Robert Knepper
3          Wade Williams
4    Sarah Wayne Callies
dtype: object

In [9]:
Character_Age = pd.Series([51, 53,64,61,46])
Character_Age

0    51
1    53
2    64
3    61
4    46
dtype: int64

In [10]:
Prison_Break = pd.DataFrame({
    "Character_Name":Character_Name,
    "Character_Real_Life_Name":Character_Real_Life_Name,
    "Character_Age":Character_Age
    
})

In [11]:
Prison_Break

     Character_Name Character_Real_Life_Name  Character_Age
0  Michael Scofield         Wentworth Miller             51
1   Lincoln Burrows          Dominic Purcell             53
2  Theodore Bagwell           Robert Knepper             64
3      Brad Bellick            Wade Williams             61
4     Sara Tancredi      Sarah Wayne Callies             46

In [16]:
Prison_Break.describe()

       Character_Age
count       5.000000
mean       55.000000
std         7.382412
min        46.000000
25%        51.000000
50%        53.000000
75%        61.000000
max        64.000000

In [17]:
Prison_Break.dtypes

Character_Name              object
Character_Real_Life_Name    object
Character_Age                int64
dtype: object